:host {
    .container {
        width: 720px;
        .order-list {
            width: 100%;
            .order-item {
                width: 100%;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid grey;
                div {
                    padding: 6px;
                }
            }
        }
    }
}